div {
  position: relative;
  top: -100px;
}

body {
  background: url("BG.jpg") no-repeat center center fixed;
  background-size: cover;
  width: auto;
  margin: 20px;
  font-size: 40px;
  color: #efe6f0;
}

li {
  margin: 40px 0;
  position: relative;
  top: -75px;
}

.head2 {
  position: absolute;
  top: 150px;
  left: 30px;
}

.top-right {
  position: absolute;
  top: 80px;
  right: 30px;
}

.About-Me {
  text-align: right;
  position: absolute;
  top: 200px;
  right: 30px;
  font-size: 60px;
}

.Funny {
  text-align: right;
  position: relative;
  top: -110px;
}

.Land-ack {
  font-size: 60px;
  text-align: right;
  position: absolute;
  top: 620px;
  right: 30px;
}

a {
  color: #ffffff
}

ol {
  position: absolute;
  top: 90px;
  left: 50px;

  border: 6px;
  width: 400px;
  height: auto;
  border-style: solid;
  border-image: linear-gradient(to bottom, darkblue, cyan, black) 1;
  padding: 80px 80px;
  border-radius: 10px;
  box-shadow: 10px 10px 3px #292726;
}

button {
  color: white;
  height: 50px;
  width: 300px;
  position: absolute;
  top: 500px;
  right: 10px;
  background-image: url('https://wallpapers.com/images/featured/mathematics-snya5mv2dogewetc.jpg');
  background-size: 300px 50px;
  border: 4px black;
}

.num {
  position: absolute;
  top: 410px;
  right: 40px;
}